@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*                    font-family: 'Raleway', sans-serif;             */
*{
    font-family: 'Raleway', sans-serif;  
}

a{
    text-decoration: none !important;
}

header{
    background-image: url(img/Фон.jpg);
    padding-top: 25px;
    padding-bottom: 390px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header a{
    color: white;
}
header nav{
    margin-bottom: 325px;
}
header nav .catalog{
    /* margin-left: 75px; */
}
header nav .catalog a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 25px
}
header nav .emblem{
    margin-left: 150px;
    /* margin-right: 73px; */
}
header nav .switch a{
    margin-left: 25px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;

}
header nav .functions{
    /* margin-left: 80px; */
    margin-left: auto;
}
header nav .functions a{
    margin-left: 20px;
}
header .newcollection{
    text-align: center;
}

header .newcollection h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 46px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.85;
    position: relative;
}

header .newcollection h1::after{
    content: "";
    width: 120px;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

header .newcollection a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    margin-top: 40px;
}

/* ===================== header  */


/* =================swiper  */
.swiperpart{
    margin: 100px;
}
.swiper {
    width: 100%;
    height: 450px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    /* background-image: url(img/SWIPER_RIGHT_ARROW.png); */
  }
  .swiper-button-next{
      left: 0;
      margin-right: 20px;
      width: 40px !important;
      height: 40px !important;
  }
  .swiper-button-next::after{
      content: ""!important;
      background-image: url(img/SWIPER_RIGHT_ARROW.png) !important;
      /* position: absolute !important; */
      width: 40px;
      height: 40px;
      background-size: contain;
      background-repeat: no-repeat;

  }

  .swiper-slide-active{
    width: 280.25px;
    margin-right: 40px;
  }

  .swiperpart h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color: #252525;
    margin-left: 10px;
    margin-bottom: 50px;
  }

/* =================swiper  */


/* =============rassilka  */

.rassilka{
    margin-bottom: 100px;
}
.rassilka .rassilkacontainer{
    width: 600px;
    height: 270px;
    margin: auto;
}

.rassilka h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #252525;
    margin-bottom: 50px;
}
.rassilka input {
    width: 100%;
    border: 0.5px solid #252525;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(37, 37, 37, 0.8);
    padding: 15px 0px;
    outline: none;
    margin-bottom: 20px;
}
.rassilka button{
    background-color: #E0BEA2;
    width: 100%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 0px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.rassilka p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #252525;
}

/* =============rassilka  */

/* =================fooooter */

footer h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #252525;
    margin-bottom: 20px;
}
footer a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    color: #252525;
    display: inline-block;
    margin-bottom: 10px;
    transition: .2s;
}
footer a:hover{
    color: #E0BEA2;
}
footer .company{
    margin-left: 10px;
}
footer .usefull{
    margin-left: 150px;
}
footer .client{
    margin-left: 80px;
}
footer .contacts{
    margin-left: -30px;
}
footer h6{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #252525;
    margin-top: 50px;
    margin-bottom: 10px;
}
/* =================fooooter */